*{
    padding:0;
    margin:0;
}

body{
    background: #222f3e;
}

.container{
    position: absolute;
    top:50%;
    left:50%;
    transform : translate(-50%,-50%);
    width:50vw;
    height:70vh;
    background: rgb(88, 164, 194);
    border-radius: 5px;
    font-family: "dancing script" , cursive;
    overflow: hidden;
    color: #797d7f;
    letter-spacing: 0.5px;
    display: grid;
    place-items: center;
}

.inner{
    position: absolute;
    height: 100%;
    width: 75%;
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
}

.box{
    position: absolute;
    top : 50%;
    left:50%;
    width:80%;
    height:70%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1.5rem rgba(0,0,0,0.5);
    font-size: 1.3rem;
}

.number::before{
    content:"";
    position: absolute;
    top:-130px;
    right: 5px;
    width: 60px;
    height: 200px;
    background: rgb(190, 205, 214);
    transform: rotate(-45deg);
    z-index: -1;
    box-shadow: 0 0 1.2rem 0.5rem rgba(0,0,0,0.5);
}

.number {
    font-family: var(--sans);
    position: absolute;
    margin: 0;
    top:15px;
    right:15px;
    color : rgba(255,255,255,0.7);
}

.number img{
    width:40px;
    height:40px;
    position: absolute;
    left:-25px;
    top: -7px;
    cursor: pointer;
    animation: rot 1s linear;
}

.number:hover img{
    animation : rot 1s linear;
}

@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.quote{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    width:80%;
    font-size: 1rem;;
}

.author{
    position: absolute;
    top: 68%;
    left :60%;
    font-size: small;
    font-weight: bolder;
}

.button{
    position: absolute;
    top:88%;
    background: rgb(8, 169, 255);
    color: white;
    cursor :pointer;
    width:100%;
    text-align: center;
    padding:10px;
    font-size: small;
    font-weight: 800;
    letter-spacing: 5px;
}

.button:hover{
    background-color: rgba(8, 169, 255 , 0.8) ;
}

.start-quote{
    position: absolute;
    left: 8%;
    top: 8%;
    opacity: 0.5;
    font-size: xx-large;
}

@media only screen and (max-width: 600px) {
    .container{
        width:100%;
    }
    .inner{
        width:95%
    }
    .start-quote{
        top:5%;
    }
    .quote{
        font-size: 0.9rem;
    }
}